.breakpoint {
  width: auto;
  display:block;
  font-size: 0.7em;
  color: $white;
  position: fixed;
  padding: 0.5rem;
  top: 10em;
  font-weight: bold;
  z-index: map-get($zindex, overlay);

  &:before {
    content: "no break- Phone up";
  }

  background-color: rgba(green, 0.7);

  @include media($xsmall-screen) {
    &:before {
      content: "$xsmall-screen";
    }

    background-color: rgba(orange, 0.7);
  }


  @include media($small-screen) {
    &:before {
      content: "$small-screen";
    }

    background-color: rgba(red, 0.7);
  }


  @include media($medium-screen) {
    &:before {
      content: "$medium-screen";
    }

    background-color: rgba(yellow, 0.7);
    color: $black;
  }


  @include media($large-screen) {
    &:before {
      content: "$large-screen";
    }

    background-color: rgba(blue, 0.7);
    color: $white;
  }
  @include media($xlarge-screen) {
    &:before {
      content: "$xlarge-screen";
    }

    background-color: rgba(purple, 0.7);
    color: $white;
  }
  @include media($xxlarge-screen) {
    &:before {
      content: "$xxlarge-screen";
    }

    background-color: rgba(teal, 0.7);
    color: $white;
  }
  @include media($onek-screen) {
    &:before {
      content: "$1K-screen";
    }

    background-color: rgba(red, 0.7);
    color: $white;
  }
  @include media($twok-screen) {
    &:before {
      content: "$2k-screen";
    }

    background-color: rgba(orange, 0.7);
    color: $white;
  }
  @include media($ipadP) {
    &:before {
      content: "$screen-ipadP";
    }

    background-color: rgba(purple, 0.7);
  }


  @include media($ipadL) {
    &:before {
      content: "$screen-ipadL";
    }

    background-color: rgba(pink, 0.7);
  }
}

.uw-site {
  background: teal;

  .js & {
    background: transparent;
  }
}
