
// Additional variables  FROM _content_types

%ct_box {
  // padding: 0.5rem;
  // margin-bottom: 0.75rem;
  // margin-top: 0.74rem;
  // border: solid 1px $uw-light-shade-colour;

  @include media($small-screen) {
    min-height: 30rem;
  }


  @include media($medium-screen) {
    min-height: 0rem;
  }


  @include media($large-screen) {
    min-height: 30rem;
  }
}

%ct_box_remove {
  padding: inherit;
  margin-bottom: inherit;
  margin-top: inherit;
  border: none;

  @include media($small-screen) {
    min-height: inherit;
  }


  @include media($medium-screen) {
    min-height: inherit;
  }


  @include media($large-screen) {
    min-height: inherit;
  }
}
