.node-type-uw-daily-bulletin {
    .uw-site-sidebar {
    padding-top: 1.0rem;
  }
  .uw-site-navigation {
    height: 100%;
  }
  .uw-site-content {
    
    padding-top: 0;
    @include media($medium-screen) {
      // margin-left: 33.935%;
    }
    @include media($large-screen) {
      margin-left: 0;
    }
  }
}

.db_full_width {
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include media($medium-screen) {
    position: relative;
    // max-width: 66.065%;
  }

  @include media($large-screen) {
    // max-width: 750px;
  }
}

.db_header_box_1 {
  float: left;
  width: 100%;
  flex-grow: 0;
  order: 1;
  text-align: center;
  padding: 0.8rem;

  @include media($large-screen) {
    flex-grow: 1;
    order: 1;
    width: 68.2809%;
    text-align: left;
    padding-left: 0;
  }
}

.db_header_box_2 {
  width: 100%;
  flex-grow: 0;
  order: 2;

  @include media($large-screen) {
    flex-grow: 1;
    order: 2;
    width: 31.7191%;
  }
}

.db_header_box_3 {
  float: left;
  width: 100%;
  flex-grow: 0;
  order: 4;
  background-color: #FFFFCC;

  @include media($large-screen) {
    flex-grow: 1;
    order: 3;
    width: 68.2809%;
  }
}

.db_header_box_4 {
  width: 100%;
  flex-grow: 0;
  order: 3;
  text-align: center;
  background-color: #FFFFCC;
  border: 1px solid white;

  @include media($large-screen) {
    flex-grow: 1;
    order: 4;
    text-align: left;
    width: 31.7191%;
    padding-top: 0.2rem;    
  }
}

#block-uw-social-media-sharing-social-media-block--2 {
  display: none;
}
