$highlighted-fact-bg-color:$lighter-gray;
$highlighted-fact-color:$uw-black;

$color-ff: 
uwaterloo #fffaaa #fdd54f #fdd54f $dark-gray,
ahs #97DFEF #00BED0 #0098A5 #005963,
arts #FFD5A5 #FBAF00 #E78100 #D93F00,
engineering #D0B4EF #BE33DA #8100B4 #57058B,
environment #DAF582 #BED500 #B4BE00 #607000,
math #FFBEEF #FF63AA #DF2498 #C60078,
science #B4D5FF #63A0FF #0073CE #0033BE,
org_school #FFA5AA #E41740 #B71233 #80001F,
org_cgc #FFA5AA #E41740 #B71233 #80001F,
org_ren #FFA5AA #E41740 #B71233 #80001F,
org_stj #FFA5AA #E41740 #B71233 #80001F,
org_stp #FFA5AA #E41740 #B71233 #80001F;


//fonts
$highlighted-fact-font:$base-font-family;
$highlighted-fact-font-big:$heading-font-family;
$highlighted-fact-font-medium:$highlighted-fact-font;
$highlighted-fact-font-small:$font-1451-medium;
$highlighted-fact-font-caption:$serif-font-family;

//appearance
$global-radius: 3px;
$global-rounded: 1000px;
$highlighted-fact-radius: $global-radius;
$highlighted-fact-round:$global-rounded;

//ul 
.highlighted-fact-wrapper{
  width:100%;
  display:block;
  float:left;
  height:auto;
  margin:0;
  position:relative;
  list-style-type:none;
  clear:both;
  &.black{
    

  }
}
.data-usecarousel,
.data-numberpercarousel,
{
  visibility:hidden;
  height:0;
}

%highlighted-fact {

  text-align:center;
  font-weight:300;
  border-radius: $highlighted-fact-radius + 10;
  display: block;
  padding: 1rem;
  position:relative;
  min-height:20rem;
  img{
    margin:0 auto;
    margin-bottom: 1rem;
    display:block;
    height: 6rem;
    width: auto;
   
  }
  &.no-icon {
    span{
      &:first-child{
        margin-top:4rem;
      }
    }
  }
  span{
    text-align:center;
    clear:both;
    float:none;

  }
}


.highlighted-fact-tall{
  border-top:1px solid $gray;
  color:$gray;
  padding-top:3rem;
  span{}
  @include media($medium-screen) {
   padding-left:1.5rem;
   border-top:1px solid $white;
   border-left:1px solid $gray;
  }

}

.highlighted-fact{
  @extend %highlighted-fact;
    @each $color in $color-ff {
     &.#{nth($color, 1)} {
      .black &{
        $highlighted-fact-bg-color:$black;
        background-color:$highlighted-fact-bg-color;  
        .highlighted-fact-text-big,.highlighted-fact-text-medium,.highlighted-fact-caption{
          color:nth($color, 3);
        }
        .highlighted-fact-caption{
           a{
            color:nth($color, 2);
           }
        }
        .highlighted-fact-text-small{
          background-color:nth($color, 3);
          color:$highlighted-fact-bg-color;
        }
      }
      .grey &{
        $highlighted-fact-bg-color:$lighter-gray;
        background-color:$highlighted-fact-bg-color;  
        .highlighted-fact-text-big,.highlighted-fact-text-medium,.highlighted-fact-caption{
          color:nth($color, 5);
        }
        .highlighted-fact-text-small{
          background-color:nth($color, 5);
          color:$highlighted-fact-bg-color;
        }
         .highlighted-fact-caption{
           a{
            color:nth($color, 5);
           }
        }

      }
      .white &
      {
        $highlighted-fact-bg-color:$white;
        background-color:$highlighted-fact-bg-color;  
        .highlighted-fact-text-big,.highlighted-fact-text-medium,.highlighted-fact-caption{
          color:nth($color, 4);
        }
        .highlighted-fact-text-small{
          background-color:nth($color, 4);
          color:$highlighted-fact-bg-color;
        }
         .highlighted-fact-caption{
           a{
            color:nth($color, 5);
           }
        }
      }

    }

  }
  img{
  }
  .highlighted-fact-wrapper &{ 
   
  }
  .text-left &,
  &.text-left{
    img{
      float:left;
      clear:both;
    }
     span{
      text-align:left;
      display:block;
      clear:left;
    } 
  }
  .text-center &,
  &.text-center{
    span{
    text-align:center;
    display:block;
    clear:both;
   }
  }
 .text-right &,
  &.text-right{
    img{
      margin:0;
      float:right;
      clear:both;
    }
    span{
     text-align:right;
      display:block;
      clear:right;
    }
  }
  &.img-left{
   img{
      float:left;
    }
     span{
      text-align:left;
      display:block;
      clear:none;
    }
  }
  &.img-right{
   img{
      float:right; 
    }
     span{
      text-align:right;
      display:block;
      clear:none;
    }
  }
}



.highlighted-fact-text-big{
  font-family:$highlighted-fact-font-big;
  font-size: modular-scale(10);
  font-weight:600;
  line-height:1.2;
  hyphens: none;


}
.highlighted-fact-text-medium{
  font-family:$highlighted-fact-font-medium;
  font-size: modular-scale(2);
  font-weight:300;
  line-height:1.2;
  padding: 0.25rem 0rem;
  hyphens: none;

}
.highlighted-fact-text-small{
  font-family:$highlighted-fact-font-small;
  font-size: modular-scale(0);
  line-height:1.25;
  padding: 0.25rem 0rem;
  margin:1rem auto;
  padding:0.5rem 1.25rem;
  hyphens: none;
  width:auto;
  display:inline-block !important;
}
.highlighted-fact-caption{
  p{
    font-family:$highlighted-fact-font;
    line-height:1.2;
    font-size: modular-scale(-1);
  }
  font-family:$highlighted-fact-font;
  line-height:1.2;
  font-size: modular-scale(-1);
  font-style:italic;
  padding: 0.25rem 0rem;
  hyphens: none;


}
    .highlighted-fact{
    .js &{
        margin-right:5px;
        margin-left:5px;
        min-height:20rem;
        max-height:30rem;
        margin-bottom:0;
            
        }
        min-height:20rem;   
        margin-bottom:1rem;
    }
    .owl-wrapper-outer{

    }
    .owl-wrapper{
        padding:2rem 0;
    }
    .owl-item{
        position:relative;

        &:first-child{
            margin-left:0;
        }
       
    }
