    .highlighted-fact{
    .js &{
        margin-right:5px;
        margin-left:5px;
        min-height:20rem;
        max-height:30rem;
        margin-bottom:0;
            
        }
        min-height:20rem;   
        margin-bottom:1rem;
    }
	.owl-wrapper-outer{

	}
	.owl-wrapper{
        .uw-image-gallery &{
            padding:0;
        }
		padding:2rem 0;
	}
	.owl-item{
		position:relative;

		&:first-child{
			margin-left:0;
		}
		 &:nth-child(odd){
            &::after{
                margin-left: -0.75rem;
                top: -1.25rem;
                left: 50%;
                position: absolute;
                width: 0;
                height: 0;
                content: '';
                z-index: map-get($zindex, content);
                border-bottom: 1.5rem solid $highlighted-fact-bg-color;
                border-left: 1rem solid transparent;
                border-right: 1rem solid transparent;
            }
        }
        &:nth-child(even){
            &::after{
            margin-left: -0.75rem;
            bottom: -1.25rem;
            left: 50%;
            position: absolute;
            width: 0;
            height: 0;
            content: '';
            z-index: map-get($zindex, content);
            border-top: 1.5rem solid $highlighted-fact-bg-color;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            }
        }
        .uw-image-gallery &,
        #uw-site--services-tab &{
            &:nth-child(even),
            &:nth-child(odd)
            {
            &::after{
                    display:none;
                }
            }
        }
	}
