.view-uw-news-item-pages-responsive {
  img[typeof="foaf:Image"] {
      margin-bottom: 1rem;
  }

  .view-content {
    @include media($large-screen) {
      display: flex;
      flex-wrap: wrap;
    }
    .views-row {
      clear: both;

      @extend %ct_box;
      margin-right: 0.75rem;
      &-first {
        min-height: inherit;
      }
      not(:first-child) {
        flex-grow: 1;
      }
      &-even {
        min-height: inherit;
      }
      &-odd {
        min-height: inherit;
        @include omega;
        &.views-row-last {
          margin-right: inherit;
        }
      }
    }
  }
}
.field-name-field-news-date {
  .node-type-uw-news-item &{
      margin: 0 0 1rem;
  }

}

.home-listing-block-date {
  text-transform: uppercase;
  display: block;
}

.item-list .home-listing-block-summary img {
  margin-bottom: 1rem;
  padding-right:1rem;
  float:left;
}
.node-type-uw-news-item .uw-site-sidebar--wrapper .block-list .item-class{
         margin:0;
       }
