/**
 * Main custom CSS for Stories
*/

.stories_featured_image {
  width: 100%;
}
.stories_featured_img {
  height:auto;
  width:100%;
  display:block;
}
.stories_featured_img img {
  height:auto;
  width:100%;
  display:block;
}
.story-type,
span.article-date {
   font-family: $font-1451-medium;
   display: inline-block;
   clear: both;
   text-transform: uppercase;
   font-weight: $weight-regular;
   font-size: modular-scale(-1);
   padding:0.5rem 1rem 0.5rem 1rem;
   margin-top:1rem;
   background: $uw_gold;
   color: $black;
   .node-stories-featured &{
      margin-top:0;
   }
}
.story-type {
  position: absolute;
  top: 3em;
  right: 0;
  display: inline-block;
}
a.story-type {
  text-decoration: none;
  margin-top: 0;
}
.uw_ct_story {
   .article-list-layout,
   .layout-dir-check,
   .links,
   .addtoany_list{
      .view-uw-stories &,
      .node-stories-featured &{
        display:none;
        }
    }
    a {
      text-decoration: none;
    }
    .field-name-body a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    h2 {
      font-size: modular-scale(2);
    }
 }
.node-stories-featured {
  margin-bottom: 2rem;
  a {
    text-decoration: none;
  }
  .article-hp-info,
  .article-hp {
    padding: 1rem;
    max-width: calc(100% - 1rem);
    h2 {
      font-size: modular-scale(1);
    }
    p {
      font-size: modular-scale(-1);
    }
  }
  .paragraphs-item-featured-stories:first-child h2 {
    font-size: modular-scale(4);
  }
}

/* Body field */
.node-stories-featured {
  margin: 0 -.8rem 2rem;
  .field-name-body {
    margin: 0 auto;
    padding: 2rem .8rem .5rem;
    p {
      font-size: modular-scale(1);
      line-height: 1.6;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

@include media($large-screen) {
  .node-stories-featured .paragraphs-items-field-featured-stories {
    width: $max-width;
    width: 100vw;
    margin-left: 0;
    margin-left: calc((-1 * (100vw - #{$max-width}) / 2) + .4rem);
    margin-right: 0;
  }
}
@supports (display: grid) {
    .paragraphs-items {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 1px;
      color: #444;
      grid-auto-flow: row;
      @include media($medium-screen) {
        grid-template-columns: 50% 50%;
      }
      @include media($large-screen) {
        grid-template-columns:  minmax(48%, 1fr)  22%  22%;
      }
    }
    .uw_ct_story {
      position:relative;
    }

   .paragraphs-item-featured-stories {
      //.field-name-field-subhead,
      .links,
      .addtoany_list{
        display:none;
      }
      p {
        display:block;
      }
      &:first-child {
        @include media($medium-screen) {
          grid-column: span 2;
        }
        @include media($large-screen) {
          grid-row: span 2;
          grid-column: span 1;
        }
       .field-name-field-subhead {
          display:block;
          h2 {
            font-size: modular-scale(3);
          }
        }
      }

      //only1
      &:first-child:nth-last-child(1) {
        grid-column: span 4;
        grid-row: span 2;
      }
      //only 2
      &:first-child:nth-last-child(2) ~ .paragraphs-item-featured-stories {
        @include media($large-screen) {
          grid-column: span 2;
          grid-row: span 2;
        }
      }
      //only 3
      &:first-child:nth-last-child(3) {
        @include media($large-screen) {
          ~ .paragraphs-item-featured-stories {
            grid-column: span 2;
          }
        }
      }
      //only 4
      &:first-child:nth-last-child(4) {
        @include media($medium-screen) {
          ~ .paragraphs-item-featured-stories:last-child {
            grid-column: span 2;
          }
        }
      }
      // all 5 showing
          &:first-child:nth-last-child(5) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
              @include media($medium-screen){
                grid-column: 1 / 3;
                grid-row: 1 / 2;
              }
              @include media($large-screen) {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
              }
              ~ .paragraphs-item-featured-stories {
                  grid-column: 1 / 2;
                  grid-row: 2 / 3;
                  @include media($medium-screen) {
                    grid-column: 1 / 2;
                    grid-row: 2/ 3;
                  }
                  @include media($large-screen){
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                  }
               }
            ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories{
              grid-column: 1 / 2;
              grid-row: 3/ 4;
              @include media($medium-screen) {
                grid-column: 2 / 3;
                grid-row: 2/ 3;
              }
              @include media($large-screen){
                grid-column: 3 / 4;
                grid-row: 1 / 2;
              }
            }
            ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories{
              grid-column: 1 / 2;
              grid-row: 4 / 5;
              @include media($medium-screen) {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
              }
              @include media($large-screen){
                grid-column: 2 / 3;
                grid-row: 2 / 3;
              }
            }
            ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories ~ .paragraphs-item-featured-stories{
              grid-column: 1 / 2;
              grid-row: 5/ 6;
              @include media($medium-screen){
                grid-column: 2 / 2;
                grid-row: 3 / 4;
              }
              @include media($large-screen){
                grid-column: 3 / 4;
                grid-row: 2 / 3;
              }
            }
          }
        }

/**
 * Views showing all stories (not Featured)
*/
.view-uw-stories {
  a:hover {
    text-decoration: none;
  }
  min-height:45rem;

  .views-exposed-widgets {
    width:100%;
    padding:1rem;
    background:$light-gray;
    margin-bottom:0;
    width:auto;
    select {
      width: 100%;
      margin-bottom: .5em;
    }
    .views-widget-checkboxes {
      margin-top: .2em;
      label {
      font-family: $font-bg;
      font-size: .95em;
      font-weight: normal;
      }
      abbr {
        display: none;
      }
    }
    @include media($medium-screen) {
      display: grid;
      grid-template-columns: auto auto auto auto;
      select {
        margin-bottom: 0;
      }
    }
  }
  @include media($medium-screen) {
    .views-widget-checkboxes {
      grid-row: 2;
      grid-column: span 4;
      padding: 0;
    }
  }


  .view-empty{
    padding:1rem;
    max-width:80%;
    margin:2rem auto;
    background-color:#fffaaa;
    border:1px solid #fdd54f;
    display:block;
  }
  // Change layout of the list from grid to list to grid
  div.view-content{
    display:block;

    @include media($xsmall-screen){
      display: grid;
      grid-gap: 1.25rem;
      color: #444;
      grid-auto-flow: row;
      grid-template-columns: 48%  48%;
      }
      @include media($medium-screen){
      display: grid;
      grid-template-columns: 32%  32%  32%;
      }
    .views-row{
      margin-top:0.5rem;
      .node-uw-stories{
        .uw_ct_story{

          a{
            display: block;
            padding:0.7rem;
            @include clearfix();
            @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
            &:hover, &:focus{
              background:$lighter-gray;
              @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
            }
          }
        .stories_featured_image{
          min-height: 10rem;
          }
          .article-hp{

          }
          .addtoany_list,
          .field-name-field-subhead{
            display:none;
          }
          .links{
            ul.links{
              li{
                list-style-type: none;
                list-style-image: none;
              }
            }
          }
          @include media($medium-screen){
            max-height:21rem;
            overflow:hidden;
            a{
              min-height:21rem;
            }
          }
        }
      }
    }
  }
  > .item-list {
    text-align: center;
    margin: 1rem auto;
  }
}
.page-taxonomy-term {
  .uw-site--title {
    margin-top: 2em;
  }
  .content {
    display: grid;
    grid-gap: 1.25rem;
    color: #444;
    grid-auto-flow: row;
  }
  .term-listing-heading {
    grid-column:1 / 2 ;
    grid-row: 1 / 2;
    @include media($xsmall-screen){
      grid-column:1 / 3 ;
    }
    @include media($medium-screen){
        grid-column:1 / 4 ;
    }
    p{
      &.highlight,
      &.lead{
        margin: 0 0 $small-spacing;
        font-weight: $weight-regular;
        color: $gray;
        font-size: modular-scale(3);
        line-height: $base-line-height;
      }
    }
  }
  .item-list {
    grid-column:1 / 4 ;
    grid-row:auto;
    text-align:center;
    margin:1rem auto;
  }
  > div > div.node-uw-stories {
    height:auto;
    .addtoany_list {
      display:none;
    }
  }
}

} // End of @supports (display: grid)

.layout-dir-check{
  height:0;
  visibility:hidden;
  overflow:hidden;
  float:left;


}
.page-taxonomy-term [type=checkbox]{
  ~ div.region.region-content #block-system-main > div.content{
     display:block;

    .uw_ct_story {
      margin-bottom:1rem;
      a{
      display: block;
      padding:0.7rem;
      background:white;

      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
      &:hover, &:focus{
        background:$lighter-gray;
        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
      }
    }
      }
    @include media($xsmall-screen){
      display: grid;
      grid-template-columns: 48%  48%;
    }
    @include media($medium-screen){
      display: grid;
      grid-template-columns: 32%  32%  32%;

    }
    grid-gap: 1.25rem;
    color: #444;
    grid-auto-flow: row;
       .field-name-field-subhead{
        display:none;
      }
  }
}
.page-taxonomy-term [type=checkbox]:checked  ~ div.region.region-content #block-system-main > div.content
{

      display: block;
      min-height: 10rem;
      .uw_ct_story a{
        display: block;
        padding:0.7rem;
        background:white;
        @include clearfix();
        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
        &:hover, &:focus{
          background:$lighter-gray;
          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
        }
      }
      .node-uw-stories{
        margin:2rem 0;
        padding-bottom:1rem;
        border-bottom:1px solid $light-gray;
        &:last-child{
          border-bottom:1px solid transparent;
        }
      }

      .stories_featured_image{
        float:left;
        width:25%;
      }
      .article-hp{
        float:left;
         width:70%;
         margin-left:1rem;
         padding:0rem;
          span.article-date{
             margin-top:0;
          }
         .field-name-field-subhead{
        display:block;
        float:left;
          p{
           font-size: modular-scale(0);
          }
        }
      }
}
.archive [type=checkbox]{
  ~ div.region.region-content #block-system-main > div.content > .view-uw-stories-archives > .view-content{
     display:block;

    .uw_ct_story {
      margin-bottom:1rem;
        a{
        display: block;
        padding:0.7rem;
        background:white;

        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
        &:hover, &:focus{
          background:$lighter-gray;
          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
        }
      }
    }
    @include media($xsmall-screen){
      display: grid;
      grid-template-columns: 48%  48%;
    }
    @include media($medium-screen){
      display: grid;
      grid-template-columns: 32%  32%  32%;

    }
    grid-gap: 1.25rem;
    color: #444;
    grid-auto-flow: row;
       .field-name-field-subhead{
        display:none;
      }
  }
}
.archive [type=checkbox]:checked ~ div.region.region-content #block-system-main > div.content > .view-uw-stories-archives > .view-content{
     display: block;
      min-height: 10rem;
      .uw_ct_story a{
        display: block;
        padding:0.7rem;
        background:white;
        @include clearfix();
        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
        &:hover, &:focus{
          background:$lighter-gray;
          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
        }
      }
      .node-uw-stories{
        margin:2rem 0;
        padding-bottom:1rem;
        border-bottom:1px solid $light-gray;
        &:last-child{
          border-bottom:1px solid transparent;
        }
      }

      .stories_featured_image{
        float:left;
        width:25%;
      }
      .article-hp{
        float:left;
         width:70%;
         margin-left:1rem;
         padding:0rem;
          span.article-date{
             margin-top:0;
          }
         .field-name-field-subhead{
        display:block;
        float:left;
          p{
           font-size: modular-scale(0);
          }
        }
      }
     }

#article-layout-dir[type=checkbox] ~ .article-list-layout{
      position:absolute;
      top:0;
      right:0;
      .page-taxonomy-term &{
         top:-3rem;
      }
      label.article-layout-button{
        width:4.5rem;
         height:2.5rem;
        position:relative;
        padding:1rem;
        background:$light-gray;
        display:block;
        &:focus{
           background:$lightest-gray;
        }
      }
      span{
       display:block;
       position:absolute;
       top:0.5rem;
       left:0.5rem;
       @include uw-transition($delay: 0s, $duration: 100ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

       &.article-layout-list{
        opacity:1;
        }
        &.article-layout-grid{
        opacity:0;
        }
      }
    }
#article-layout-dir[type=checkbox]:checked ~ .article-list-layout{

      position:absolute;
      width:4.5rem;
      height:2.5rem;
      top:0;
      .page-taxonomy-term &{
         top:-3rem;
      }
      label.article-layout-button{
        position:relative;
        padding:1rem;
        background:$light-gray;
        display:block;
        &:focus{
           background:$lightest-gray;
        }
      }
     span{
       display:block;
       position:absolute;
       top:0.5rem;
       left:0.5rem;
       @include uw-transition($delay: 0s, $duration: 100ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

         &.article-layout-list{
          opacity:0;
          }
          &.article-layout-grid{
          opacity:1;
          }
        }
    }
.article-list-layout{
   display:none;
   .page-taxonomy-term &,
   .front & {
     @include media($small-screen) {
        //display:block;
      }
   }

}
.view-uw-stories{
position:relative;
}
.view-stories-featured-block{
  .layout-dir-check,
  .article-list-layout
  {
    display:none;
  }
}
