.uw_stories_non_sticky{
    .node-uw-stories{
        .page-taxonomy &{
            // background:pink;
        }
    }

}

.uw_stories_feature{
    width:100%;
    // border-color:red;
    // height:18.750rem;
    @include media($small-screen) {

    // height:30.938rem;
    }
    @include media($medium-screen) {
    // height:38.438rem;
    }
    @include media($large-screen) {
    // height:59.938rem;
    }
}
