/* position 1 */
body,div .uw-site--cbar {
  .uw-site--c1 {background-color: #fffaaa;}
  .uw-site--c2 {background-color: #ffea30;}
  .uw-site--c3 {background-color: #fdd54f;}
  .uw-site--c4 {background-color: #e4b429;}
}
