@page {
  margin:0.5cm;
}
@media print {
  #site, #main, #content, #site-sidebar {
    width: 100%;
    border: none;
    border-style: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    float: none;
    text-align:left;
  }

  /* Don't print the:
  * Toolbar, Site Header/Navigation, Site Sidebar, Site Footer, Breadcrumbs, Node Tabs, Workbench Info Block, Social Media Service Links, Preview Toggle
  */
  .region-page-top,
  #toolbar,
  #skip,
  #header,
  #navbar-bar,
  #site-navigation,
  .messages,
  .element-invisible,
  .breadcrumb,
  .node-tabs,
  .region-sidebar-second,
  .workbench-info-block,
  .service-links,
  #site-sidebar,
  #footer,
  .cas_login,
  a[href="#toggle-revision-elements"] {
    display: none;
  }

//header 
#header{
  height:auto;
}
.site-colors,
.uw-header--global,
#site--offcanvas{
  height:0;
  display: none;
  }
.uw-site--header{
  text-align:left;
  margin-top:0;
  margin-bottom:0;
  padding:0;
  height:auto;
  min-height:auto;
}
//banner 
  .banner{
    margin:0.5rem;
  }
  .banner-caption-button,
   #uwb_paginator{
    display:none!important;
    opacity:0;
  }
  .banner-caption-check[type=checkbox] ~ .banner-caption {
    border:1px solid #757575;
    border-top:0px;
    padding:0.5rem;
    position:relative;
    height:auto;
    opacity:1;
    text-align:left;
    strong,a{ color:#000 !important;
      font-size:1.2rem;}
    span{ color:#000 !important;}

}

  #content h1 {
    margin-top: 0;
    text-align:left;
  }

  /*main container styles*/
  h1 {
    font-size: 2rem;
    margin: 0 0 0.4rem;
    text-align:left;
  }

  h2 {
    font-size: 1.3rem;
    border-bottom: none;
  }

  h3 {
    color: #555;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
  }

  //news 
  .uw-site-homepage-tabs{
    display:none;
    opacity:0;
    height:0;
  }
  .front h2.tab-link{
    display:block;
    text-align:left;
    font-size: 1.75rem;
    border-bottom:1px solid #000;
  }
  .front h2.tab-link.hp-tabs{
    font-size: 1.1rem;
  }
  .front .block-list .item-class{
    opacity: 1;
    height: auto;
    overflow: visible;
    }
  .front .block-list .item-class .item-list > ol > li .home-listing-block-date, .front .block-list .item-class .item-list > ul > li .home-listing-block-date{
    color:#000;
    margin:0;
    padding:0;
  }
  .item-list .home-listing-block-summary img{
    max-width:200px;
    clear:both;
  }
  #content .controls,
  #content .view-filters,
  .node-uw-blog .field-name-field-tag,
  .home-listing-block-more-link a,
  .pager-load-more a{
    display:none !important;
  }
  .node-type-uw-blog span.date-display-single, 
  .node-type-uw-event span.date-display-single, 
  .node-type-uw-news-item span.date-display-single, 
  .page-blog span.date-display-single, 
  .page-events span.date-display-single, 
  .page-news span.date-display-single,
  .event-date,
  .page-blog .submitted span{
    color:#000 !important;
    padding:0;
    margin:0;
    background:none !important;
  }
  .view.view-events-responsive .view-content .views-row .event-title{
    margin :0;
    margin-bottom:0.5rem;
  }
  .node-type-uw-blog img,
  .node-type-uw-event img,
  .node-type-uw-news-item img,
  .page-blog img,
  .page-events img,
  .page-news img{
    max-width:200px;
  }
.blog-post-header h2 a{
  margin-bottom:0;
}
.view.view-uw-blog-responsive .view-content .views-row, .view.view-uw-news-item-pages-responsive .view-content .views-row{
        margin-bottom:1.5rem;
  }
  
}
